.font-sans {
  font-family: var(--ff-sans);
}
.no-movie {
  font-size: 1.2rem;
  color: #555;
  text-align: center;
  margin-top: 40px;
}
body{
  background-color: var(--color-bg);
}


/* gap */
.u-mb-16 { margin-bottom: var(--gap16); }
.u-mb-24 { margin-bottom: var(--gap24); }
.u-mb-40 { margin-bottom: var(--gap40); }

/* text */
.u-center { text-align: center; }

/* flex */
.u-flex { display: flex; }
.u-flex-col { flex-direction: column; }
.u-flex-row { flex-direction: row; }

.u-gap-16 { gap: var(--gap16); }
.u-gap-24 { gap: var(--gap24); }
.u-gap-40 { gap: var(--gap40); }

/*width*/
.u-w-100 { width: 100%; }
