@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  /* Primitive Tokens */
  --color-black: hsl(253, 69%, 8%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-light: hsl(0, 0%, 80%);
  --color-gray: hsl(0, 0%, 50%);
  --color-gray-dark: hsl(0, 0%, 20%);
  --ff-sans: "Inter", sans-serif;

  /*Size*/
  --fs-mh3:1.25rem;
  --fs-dh3:1.75rem;
  /*Font Weight*/
  --fw-600:600;
  /*Gap*/
  --gap16:1rem;
  --gap20:1.25rem;
  --gap24:1.5rem;

  /* Sementic Tokens */
  --color-fg: var(--color-white);
  --color-bg: var(--color-gray-dark);
}
