<section class="comment__section text-white ">
    <h2 class="section__title text-white ff-mh2">Commentaires</h2>

    <div class="comments">
        {{coms}}
    </div>

    <div class="comment__form ">
        <h3 class="comment__title text-white">Vous pouvez laisser un commentaire</h3>
        <input type="text" class="form__content" name="comment__content" placeholder="Laissez un commentaire"/>
        <input type="button" class="btn" value="Envoyer" onclick="C.handlerSendComment()" />
    </div>
</section>