.addMovie__form {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap20);
}

.admin__input {
  display: flex;
  width: 335px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.formbutton{
  display: flex;
width: 180px;
padding: 12px 8px;
justify-content: center;
align-items: center;
border-radius: 8px;
background: #5f61cf;
}