<div class="addMovie">
  <h4 class="addMovie__title"># Ajouter un film</h4>
  <form class="addMovie__form">
    <label class="form__label" for="titre">Titre du film</label>
    <input class="admin__input" required type="text" name="titre" placeholder="Interstellar" />

    <label class="form__label" for="realisateur">Réalisateur(s) du film</label>
    <input class="admin__input"  required type="text" placeholder="Christopher Nolan" name="realisateur"pattern="[^0-9]*"
      title="Numbers are not allowed" />

    <label class="form__label" for=annee>Année de sortie</label>
    <input class="admin__input"  required type="number" name="annee" min="1900" max="2099" step="1" placeholder="2014" />
    
    <label class="form__label" for="duree">Durée en minutes</label>
    <input class="admin__input"  required type="number" name="duree"min="0" max="500" step="1" placeholder="169" />

    <label class="form__label" for="desc">Description ou synopsis</label>
    <input class="admin__input"  required type="text" name="desc" placeholder="Un groupe d'explorateurs voyage ...." />

    <label class="form__label" for="categorie">Catégorie</label>
    <select name="categorie">
      <option value="1">Action</option>
      <option value="2">Comédie</option>
      <option value="3">Drame</option>
      <option value="4">Science-fiction</option>
      <option value="5">Animation</option>
      <option value="6">Thriller</option>
      <option value="7">Horreur</option>
      <option value="8">Aventure</option>
      <option value="9">Fantaisie</option>
      <option value="10">Documentaire</option>
    </select>
    
    <label class="form__label" for="img">Nom du fichier de l'affiche/ image du film</label>
    <input class="admin__input"  required type="text" name="img" placeholder="interstellar.jpg" />

    <label class="form__label" for="url">URL du trailer</label>
    <input class="admin__input"  required type="url" name="url" placeholder="https://www.youtube.com/embed/...." />

    <label class="form__label" for="restriction">Restrictions d'âge</label>
    <input class="admin__input"  required type="text" name="restriction" placeholder="12" />
    <input onclick="{{handler}}" class="formbutton"  type="button" value="Add" name="todo" />
  </form>
</div>