.formbutton {
  display: flex;
  width: 11.25rem;
  height: 2.5rem;
  padding:0 var(--pad12) ;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--color-black);
  color:var(--color-white);
  text-decoration: none;
  border:none;
}

.Profile {
  padding: 0 var(--pad20);
}

.Profile__title {
  color: var(--color-black);

  /* Mobile/H2 */
  font-size: var(--fs-m24);
  font-weight: var(--fw-600);
  line-height: 140%;
}

.form__label {
  color: var(--color-black);

  /* Global/Body M/medium */
  font-size: var(--fs-bmm);
  font-weight: var(--fw-500);
}

.admin__input,
select {
  height: 2.5rem;
  width: 20rem;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid #DBDBDB;
}

.Profile__form--edit {
  display: flex;
  flex-direction: column;
  gap: var(--gap24)
}

.form__field {
  display: flex;
  flex-direction: column;
  gap: var(--gap12);
}