.recommended {
  display: flex;
  flex-direction: column;
  gap: var(--gap16);
  padding: var(--gap24);
}

.recommended__cards {
  display: flex;
  gap: var(--gap24);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 1rem;
  animation: fadeIn 1s ease-out forwards;
  padding-top: 1rem;
  align-items: stretch;
}

.recommended__title {
  font-size: var(--fs-mh2);
  color: var(--color-fg);
  font-weight: var(--fw-600);
  line-height: 140%;
  margin: 0rem;
}

.movie__card {
  position: relative;
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap4);
  min-width: 9.75rem;   
  flex: 0 0 auto;
}

.card__title {
  color: var(--color-fg);

  /* Mobile/H3 */
  font-family: var(--ff-sans);
  font-size: var(--fs-mh3);
  font-weight: var(--fw-600);
  line-height: 120%;
  margin: 0rem;
  max-width: 9.75rem;
  height: 4rem;
}

.card__desc {
  align-self: stretch;
  overflow: hidden;
  text-overflow: ellipsis;
  align-self: stretch;
  color: var(--color-fg);
  height: 7.5rem;
  width: 12rem;
  
}

.movie__affiche {
  width: 9.75rem;
  height: 14.625rem;
  object-fit: cover;  
}

.movie__card:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.movie__card {
  position: relative;
  overflow: hidden;
}

.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: var(--color-fg);
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem;
  z-index: 10;
  padding: 0rem 1rem;
}

.scroll-btn.left {
  left: 3rem;
}

.scroll-btn.right {
  right: 3rem;
}


@media (width > 45rem) {
  .movie__affiche {
    width: 19.375rem;
    height: 29.0625rem;
  }

  .card__title {
    color: var(--color-fg);
    /* Desktop/H3 */
    font-size: var(--fs-dh3);
    line-height: 140%;
    max-width: 19rem;
  }

  .recommended__cards {
    overflow-x: hidden;
    position: relative;
  }
}