.film__cards {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: var(--gap24);
  flex-wrap: wrap;
  margin:var(--gap24) var(--gap20);
}

.film__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap16);
}

.card__title {
  color: var(--color-black);

  /* Mobile/H3 */
  font-family: var(--ff-sans);
  font-size: var(--fs-mh3);
  font-weight: var(--fw-600);
  line-height: 1.75rem;
  /* 140% */
  margin: 0rem;
  max-width: 9.75rem ;
}

.film__affiche {
  width: 9.75rem;
  height: 14.625rem;
  border-radius: 8px;
}