.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  color: var(--color-fg);
  background-color: var(--color-bg);
  
  .navbar__list{
    display: flex;
    flex-direction: row;
  }
  .navbar__item {
    --_offset: 0.2rem;
    padding: 0.5rem 1rem;
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: var(--_offset);
    cursor: pointer;
    transition: text-underline-offset 0.2s ease-in-out;
    &:hover {
      --_offset: 0.5rem;
    }
  }
}
.navbar-select{
  display: flex;
  flex-direction: row;
  gap:var(--gap16);
}
select{
  width:8rem;
  height: 1.5rem;
  border: 1px solid #DBDBDB;
  background-color: var( --color-gray-dark);
  color:var( --color-white);
  text-decoration: none;
}
.profile__block{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap16);
}
.profile__img{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  aspect-ratio:0.5;
}