<nav class="navbar font-sans">
  <ul class="navbar__list">
    <li class="navbar__item" onclick="window.location.href='index.html'">Home</li>
    <li class="navbar__item" onclick="{{hAbout}}">About</li>
  </ul>
  <ul class="navbar__list navbar__list--right">
    <li class="navbar__item navbar-select">
      <div class="profile__block">
      <select name="profile" id="profile-select"  onchange="C.changeProfile(this.value)">
        {{profiles}}
      </select>
      <img class="profile__img" src="https://mmi.unilim.fr/~mishcherikova1/SAE2.03-mishcherikova/server/avatar/{{avatar}}" alt="{{name}} Photo" onclick="C.handlerProfilePage()"/>

    </div></li>
  </ul>
</nav>
