<div class="Profile">
  <h4 class="Profile__title">Ajouter un profile</h4>
  <form class="Profile__form">

    <div class="form__field">
      <label class="form__label" for="name">Nom l'utilisateur *</label>
      <input class="admin__input" required type="text" name="name" placeholder="Dodo" />
    </div>
    <div class="form__field">
      <label class="form__label" for="avatar">Avatar l'utilisateur</label>
      <input class="admin__input" required type="text" placeholder="dogpicture.jpg" name="avatar" />
    </div>

    <div class="form__field">
      <label class="form__label" for=date>Date de naissance de l'utilisateur *</label>
      <input class="admin__input" required type="date" name="date" min="1920-01-01" max="2025-12-31"
        placeholder="AAAA-MM-JJ" />
    </div>

    <input onclick="{{handler}}" class="formbutton" type="button" value="Add" name="todo" />
  </form>
</div>