.font-sans {
  font-family: var(--ff-sans);
}

.font-mono {
  font-family: Courier, monospace;
}

.sections {
  display: flex;
  flex-direction: row;
  gap: var(--gap40);
  padding: var(--pad48);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}